html, body, #root {
  height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column; /* Centers horizontally */
}

/* Ensure the App container also fills the space */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.authProvider {
  margin-top: 15vh;
  padding-left: 5%;
  padding-right: 5%;
  max-height: 92vh; /* Ensures it doesn't exceed 92% */
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}