.home .header-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust spacing */
  }
  
.home .logo {
    height: 15em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
.home  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(1) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
 .home #appTitle {
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(255, 185, 55, 0.8),
                 0 0 20px rgba(255, 185, 55, 0.6),
                 0 0 30px rgba(255, 185, 55, 0.4);
  }

  /* Media query for smaller screens */
@media (max-width: 768px) {
    .logo {
      width: 50px; /* Smaller logo size on smaller screens */
    }
  
    #appTitle {
      font-size: 24px; /* Smaller text on smaller screens */
    }
  }
  
  /* Media query for very small screens */
  @media (max-width: 480px) {
    .logo {
      width: 30px; /* Even smaller logo size */
    }
  
    #appTitle {
      font-size: 20px; /* Smaller text on very small screens */
    }
  }